<a href="https://colab.research.google.com/github/juanxo90/basico_python/blob/main/Clase4_fin_python_basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# operador or y not
def numero_divisible_entre_3(num):
    if num % 3 == 0:
        return True
    else:
        return False

def numero_menor_a_10(num):
    return num < 10

In [17]:
numero_menor_a_10(7) and numero_divisible_entre_3(9)

True

In [19]:
numero_menor_a_10(7) or numero_divisible_entre_3(10)

True

In [20]:
not numero_divisible_entre_3(10)

True

In [21]:
import math

In [25]:
math.factorial(4)

24

In [26]:
import numpy as np

In [29]:
type(np.int16('10'))

numpy.int16

In [33]:
np.random.normal(0, 0.1, 100)

array([ 0.15715129, -0.05282123, -0.12488168,  0.17840398, -0.13381242,
       -0.02225863, -0.15182967,  0.00747289,  0.09820728, -0.13199057,
        0.06604549, -0.05364192,  0.09746354, -0.01390371,  0.10756435,
       -0.13307792,  0.02897899,  0.05474472, -0.03084994, -0.11175107,
        0.07981457,  0.13605984,  0.02292776, -0.02639473,  0.10320055,
       -0.04424948,  0.09650669,  0.06988785, -0.01045052,  0.08170394,
        0.0618328 , -0.13651559,  0.05545357,  0.05448508, -0.10106562,
        0.12583914, -0.05585785, -0.08646253,  0.15357939,  0.21871604,
       -0.07245884, -0.05301152, -0.01810135,  0.21705891,  0.09622999,
       -0.01502983,  0.08144253,  0.13234378, -0.01754197, -0.13673449,
       -0.03827053, -0.02085198, -0.04575859, -0.11034073, -0.14437526,
       -0.20580758,  0.1349803 , -0.06150642, -0.22084195,  0.13263019,
        0.08184537,  0.09535093, -0.11798894,  0.05490374, -0.08541925,
       -0.03593844,  0.04761444, -0.03042088, -0.0280422 , -0.13014137,
       -0.04337118, -0.09999701,  0.08425973, -0.05962738, -0.03816981,
        0.0227873 ,  0.0968051 ,  0.11702754, -0.15266647,  0.04792859,
        0.04033268,  0.01140978, -0.0106352 , -0.06269073, -0.15852087,
        0.1335154 , -0.08949822, -0.07288987,  0.10928113, -0.22066621,
       -0.01569837,  0.10352095,  0.03439215,  0.14507999, -0.01913294,
        0.06252749, -0.02132266,  0.04383185, -0.12807775,  0.14729018])

In [43]:
import pandas as pd

In [45]:
pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})

   col1  col2
0     1     3
1     2     4

In [46]:
!pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [64]:
def peso_pokemon(numero):
    import requests
    return requests.get(f"https://pokeapi.co/api/v2/pokemon/{numero}").json()['weight']

In [81]:
peso_pokemon(149)

2100

In [74]:
poke_list = list(range(1,152,1))
print(poke_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151]

In [80]:
90 % 10

0

In [87]:
def poke_exclu(x):
    if x == 143 or x == 130 or x == 149:
        return False
    else:
        return True
def poke_peso_min(x):
    if peso_pokemon(x) > 500:
        return False
    else:
        return True
poke_lista_filtrada = list(filter(poke_peso_min, poke_list))

![STDEVA-FUNCTION-in-Excel-1.png]()

In [ ]:
def std_dev(lista):
    promedio = sum(lista)/len(lista)
    
    def cuadrado_resta(x):
        return (x - promedio) ** 2
    return (sum(list(map(cuadrado_resta, lista))) / (len(lista) - 1) ) ** (1/2)

In [101]:
poke_pesos = list(map(peso_pokemon, poke_lista_filtrada))
poke_promedio = sum(poke_pesos)/len(poke_pesos)
poke_std = std_dev(poke_pesos)
print(f'El peso promedio es: {poke_promedio} +/- {poke_std}')

El peso promedio es: 190.97115384615384 +/- 136.7068621178616

In [103]:
def pokemon(numero):
  '''
  Funcion que obtiene la url de la pokeapi a partir del 
  numero del pokemon
  '''
  import requests
  return requests.get(f"https://pokeapi.co/api/v2/pokemon/{numero}").json()

In [112]:
# Lista vacia con pesos
pesos_pokemon = []
# inicio lista de peso promedio
peso_promedio = 0
# pokemones baneados
baneados = [143, 130, 149]

# iteracion entre pokemons 1 (bulbasaur) a 151 (mew)
for i in list(range(1,152)):
  # condicionante si no esta en baneados y no es divisible entre 10
  if i not in baneados and i % 10 != 0:
    type_rock = False
    # iteracion a tipo de pokemon
    for tipo in pokemon(i)["types"]:
      # condicionante si es tipo roca 
      if tipo["type"]["name"] == "rock":
        # imprime el nombre del pokemon tipo roca
        print(pokemon(i)["name"])
        type_rock = True
    # condicionante false si no es tipo roca 
    if not type_rock :
      # suma el peso del pokemon 
      #peso_promedio += pokemon(i)["weight"]
      peso_promedio = peso_promedio + pokemon(i)["weight"]
      # agregamos peso del pokemon 
      pesos_pokemon.append(pokemon(i)["weight"])

print(peso_promedio / len(pesos_pokemon))

geodude
graveler
golem
onix
rhyhorn
rhydon
omanyte
omastar
kabutops
aerodactyl
377.28225806451616

In [114]:
pesos_pokemon[5]

905