<a href="https://colab.research.google.com/github/juanxo90/basico_python/blob/main/Libreta3_Funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Funciones 

La una forma de estructurar un programa

Sintaxis:


```
def nombre_de_funcion( parameteros ):
    lo que queremos que haga
    return [expression]
```

In [ ]:
a = 10 / 2
b = 5 / 2
c = 8 / 2
d = 3 / 2

lista = [a,b,c,d]

In [ ]:
lista

[5.0, 2.5, 4.0, 1.5]

In [ ]:
def dividir_entre_dos(numero):
    resultado = numero / 2
    return resultado

In [ ]:
dividir_entre_dos(10)

5.0

In [ ]:
def dividir_dos_num(x,y):
    return x / y

In [ ]:
dividir_dos_num(10,2)

5.0

In [ ]:
x = 6

In [ ]:
resultado = dividir_entre_dos(x)

In [ ]:
resultado

3.0

In [ ]:
def multiplicacion(num1, num2):
    return num1 * num2

In [ ]:
x, y = 5,3.0
print(x,y)

5 3.0

In [ ]:
multiplicacion(x,y)

15.0

In [ ]:
def es_par(numero):
    return numero % 2 == 0

In [ ]:
es_par(10)

True

In [ ]:
es_par(3)

False

In [ ]:
2 ** (1/2)

1.4142135623730951

In [ ]:
def raiz(num):
    return num ** (1/2)

In [ ]:
raiz(25)

5.0

In [ ]:
raiz(2)

1.4142135623730951

In [ ]:
def numero_mas_diez(x):
    return x + 10
numero_mas_diez(10)

20

In [ ]:
def pyth(cadena):
    return cadena + ' ' + 'pythonista'

pyth('Lo más')

'Lo más pythonista'

In [ ]:
def sumar_numeros(x,y,z,a,b,c):
    return x + y + z + a + b + c

In [ ]:
sumar_numeros(1,2,3,4,5,6)

21

## controles de flujo

### While

```
while expresion:
      cuerpo
```

In [ ]:
n = 5
sum = 0
i = 1 

while i <= n:
    sum = sum + i
    i = i + 1

sum

15

In [ ]:
n = 10
sum = 0 
i = 1

while i <= n:
  sum = sum + i
  print(sum)
  i = i + 1

print(f'el resultado es {sum}')

1
3
6
10
15
21
28
36
45
55
el resultado es 55

In [ ]:
n = 5 
i = 1
while i <= n:
    print("El contador es igual a ", i)
    i = i + 1

El contador es igual a  1
El contador es igual a  2
El contador es igual a  3
El contador es igual a  4
El contador es igual a  5

In [ ]:
def mul_por_2(num):
    return num * 2

In [ ]:
lista = []
i = 1

while i <= 10:
    lista.append(mul_por_2(i))
    i = i + 1
else:
    print('Ya acabe la lista', i)

Ya acabe la lista 11

In [ ]:
lista

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### if, elif, else

In [ ]:
x = 1
y = 3

if x < y:
    print(f'{x} es menor que {y}')
elif x > y:
    print(f'{x} es mayor que {y}')
elif x == y:
    print(f'{x} es igual a {y}')
else:
    print("No se cumple ninguna condición")

1 es menor que 3

In [ ]:
a = 1
b = a if a > 3 else -2
b

-2

In [ ]:
def mul_por_5(num):
    return num * 5
def div_por_5(num):
    return num / 5

In [ ]:
lista = []
i = 1

while i <= 10:
    if i % 2 == 0:
        lista.append(i)
    elif i == 3:
        lista.append(mul_por_5(i))
    else:
        lista.append(div_por_5(i))
    i = i + 1
else:
    print(f'Termine la lista antes del {i}')
lista

Termine la lista antes del 11

[0.2, 2, 15, 4, 1.0, 6, 1.4, 8, 1.8, 10]

In [ ]:
lista = []
i = 1

while i <= 15:
    if i % 2 != 0:
        lista.append(i)
    else:
        pass
    i = i + 1
else:
    print(f'Termine la lista antes del {i}')
lista

Termine la lista antes del 16

[1, 3, 5, 7, 9, 11, 13, 15]

### For loop

In [ ]:
integrantes = ["Santi", "Pach", "Carlos",
               "Mari", "Mateo", "Alan", "Pablo"]

In [ ]:
for i in integrantes:
    print(i + ' es muy pythonique')

Santi es muy pythonique
Pach es muy pythonique
Carlos es muy pythonique
Mari es muy pythonique
Mateo es muy pythonique
Alan es muy pythonique
Pablo es muy pythonique

In [ ]:
integrantes = {"Santi": 28, "Pach": 32, "Carlos": 30,
               "Mari": 29, "Mateo": 31, "Alan": 30, "Pablo": 25}

In [ ]:
for i in integrantes:
    print(f'{i} tiene {integrantes[i]} años')

Santi tiene 28 años
Pach tiene 32 años
Carlos tiene 30 años
Mari tiene 29 años
Mateo tiene 31 años
Alan tiene 30 años
Pablo tiene 25 años

In [ ]:
for i,v in enumerate(integrantes):
    print(i, v, integrantes[v])

0 Santi 28
1 Pach 32
2 Carlos 30
3 Mari 29
4 Mateo 31
5 Alan 30
6 Pablo 25

In [ ]:
for i in enumerate(integrantes):
    print(i)

(0, 'Santi')
(1, 'Pach')
(2, 'Carlos')
(3, 'Mari')
(4, 'Mateo')
(5, 'Alan')
(6, 'Pablo')

In [ ]:
cheves = ["Corona", "Victoria", "Negra Modelo", "Pacifico"]

for i,v in enumerate(cheves):
    print(i, v)

0 Corona
1 Victoria
2 Negra Modelo
3 Pacifico

In [ ]:
range(1,10,2) #(inicio, final, salto)

range(1, 10, 2)

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
for i in cheves:
    print(i)

Corona
Victoria
Negra Modelo
Pacifico

In [ ]:
for i in range(0,len(cheves)):
    print(cheves[i])

Corona
Victoria
Negra Modelo
Pacifico

In [ ]:
for i in integrantes:
    if integrantes[i] % 2 == 0:
        print(f'{i} tiene {integrantes[i]} años, y es numero par')
    else:
        print(f'{i} tiene {integrantes[i]} años, y numero impar')

Santi tiene 28 años, y es numero par
Pach tiene 32 años, y es numero par
Carlos tiene 30 años, y es numero par
Mari tiene 29 años, y numero impar
Mateo tiene 31 años, y numero impar
Alan tiene 30 años, y es numero par
Pablo tiene 25 años, y numero impar

### funciones lambda

In [ ]:
def cuadrado(x):
    res = x **2
    return res
cuadrado(2)

4

In [ ]:
def cuadrado(x):
    return x ** 2
cuadrado(3)

9

In [ ]:
def cuadrado(x): return x ** 2
cuadrado(3)

9

In [ ]:
cuadrado = lambda x: x **2
cuadrado(3)

9

In [ ]:
def listas(x, y):
    lista_pares = []
    lista_impares = []
    for i in range(x,y+1):
        if i % 2 == 0:
            lista_pares.append(i)
        else:
            lista_impares.append(i)
    return lista_pares, lista_impares
listas(4, 12)

([4, 6, 8, 10, 12], [5, 7, 9, 11])

##### map function

In [ ]:
numeros = [1,2,3,4,5]
numeros_cuadradros = []
for i in numeros:
    numeros_cuadradros.append(i ** 2)
numeros_cuadradros

[1, 4, 9, 16, 25]

In [ ]:
numeros = [1,2,3,4,5]
def cuadrado(i):
    return i ** 2
numeros_cuadradros = []
for i in numeros:
    numeros_cuadradros.append(cuadrado(i))
numeros_cuadradros

[1, 4, 9, 16, 25]

In [ ]:
numeros = [1,2,3,4,5]

def cuadrado(x):
    return x ** 2

list(map(cuadrado, numeros))

[1, 4, 9, 16, 25]

In [ ]:
numeros = [1,2,3,4,5]

list(map(lambda x: x**2, numeros))

[1, 4, 9, 16, 25]

In [ ]:
def primos(x):
    if x % 2 == 0:
        return True
    else:
        return False
numeros = list(range(0, 31, 3))
numeros

list(map(primos, numeros))

[True, False, True, False, True, False, True, False, True, False, True]

In [ ]:
numeros = list(range(1,5,1))
list(map(lambda x: (x ** 2 ) / (x * 2),list(map(lambda x: (x * 2) / 6, numeros))))

[0.16666666666666666, 0.3333333333333333, 0.5, 0.6666666666666666]

##### filter function

In [ ]:
def primos(x):
    if x % 2 == 0:
        return True
    else:
        return False
numeros = list(range(0, 31, 3))
numeros

list(filter(primos, numeros))

[0, 6, 12, 18, 24, 30]

In [ ]:
numeros = [50, 25, 30, 11, 16, 17, 65, 40]

def mayoria_edad(x):
    if x >= 18:
        return True
    else:
        return False

list(filter(mayoria_edad, numeros))

[50, 25, 30, 65, 40]

In [ ]:
numeros = [50, 25, 30, 11, 16, 17, 65, 40]
list(filter(lambda x: x >= 18 , numeros))

[50, 25, 30, 65, 40]

In [ ]:
edades = [12, 16, 19, None, 21, 25, 24, None, None, 16, 17, 25, 23, 28, None, 23, 35, 59, 67, None, 34, 21, 23, 15, 14, None, 18, 24, 23, 17]

In [ ]:
edades_filt = list(filter(lambda x: x != None, edades))
print(edades_filt)

[12, 16, 19, 21, 25, 24, 16, 17, 25, 23, 28, 23, 35, 59, 67, 34, 21, 23, 15, 14, 18, 24, 23, 17]

In [ ]:
edades_filt = []
for i in edades:
    if i != None:
        edades_filt.append(i)
    else:
        pass
print(edades_filt)

[12, 16, 19, 21, 25, 24, 16, 17, 25, 23, 28, 23, 35, 59, 67, 34, 21, 23, 15, 14, 18, 24, 23, 17]

In [ ]:
personas = [
    {'edad': 18, 'credencial': True},
    {'edad': 13, 'credencial': False},
    {'edad': 24, 'credencial': False},
    {'edad': 34, 'credencial': True}
]

mayor_de_edad = lambda persona: persona['edad'] >= 18

credencial_vigente = lambda persona: persona['credencial'] == True

puede_votar = lambda persona: mayor_de_edad(persona) \
and credencial_vigente(persona)

In [ ]:
persona = {'edad': 18, 'credencial': True}
puede_votar(persona)

True

In [ ]:
list(filter(puede_votar, personas))

[{'credencial': True, 'edad': 18}, {'credencial': True, 'edad': 34}]

## código...