<a href="https://colab.research.google.com/github/juanxo90/basico_python/blob/main/refactor_wine_quality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Refactor: Wine Quality Analysis
In this exercise, you'll refactor code that analyzes a wine quality dataset taken from the UCI Machine Learning Repository [here](https://archive.ics.uci.edu/ml/datasets/wine+quality). Each row contains data on a wine sample, including several physicochemical properties gathered from tests, as well as a quality rating evaluated by wine experts.

The code in this notebook first renames the columns of the dataset and then calculates some statistics on how some features may be related to quality ratings. Can you refactor this code to make it more clean and modular?

In [22]:
import pandas as pd
df = pd.read_csv(
    'https://raw.githubusercontent.com/juanxo90/basico_python/main/data/winequality-red.csv',
     sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### Renaming Columns
You want to replace the spaces in the column labels with underscores to be able to reference columns with dot notation. Here's one way you could've done it.

In [26]:
new_df = df.rename(columns={'fixed acidity': 'fixed_acidity',
                             'volatile acidity': 'volatile_acidity',
                             'citric acid': 'citric_acid',
                             'residual sugar': 'residual_sugar',
                             'free sulfur dioxide': 'free_sulfur_dioxide',
                             'total sulfur dioxide': 'total_sulfur_dioxide'
                            }).copy()
new_df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

And here's a slightly better way you could do it. You can avoid making naming errors due to typos caused by manual typing. However, this looks a little repetitive. Can you make it better?

In [3]:
labels = list(df.columns)
labels[0] = labels[0].replace(' ', '_')
labels[1] = labels[1].replace(' ', '_')
labels[2] = labels[2].replace(' ', '_')
labels[3] = labels[3].replace(' ', '_')
labels[5] = labels[5].replace(' ', '_')
labels[6] = labels[6].replace(' ', '_')

df_new = df.copy()
df_new.columns = labels

df_new.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

here is my answe

In [4]:
def str_change(list_str, str1, str2):
    return [ x.replace(str1, str2) for x in list_str ]

In [8]:
df_1 = df.copy()
df_1.columns = str_change(list(df.columns), ' ', '_')
df_1.head(3)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5

### Analyzing Features
Now that your columns are ready, you want to see how different features of this dataset relate to the quality rating of the wine. A very simple way you could do this is by observing the mean quality rating for the top and bottom half of each feature. The code below does this for four features. It looks pretty repetitive right now. Can you make this more concise? 

You might challenge yourself to figure out how to make this code more efficient! But you don't need to worry too much about efficiency right now - we will cover that more in the next section.

In [27]:
median_alcohol = new_df.alcohol.median()
for i, alcohol in enumerate(df.alcohol):
    if alcohol >= median_alcohol:
        new_df.loc[i, 'alcohol'] = 'high'
    else:
        new_df.loc[i, 'alcohol'] = 'low'
new_df.groupby('alcohol').quality.mean()

alcohol
high    5.958904
low     5.310302
Name: quality, dtype: float64

In [28]:
median_pH = new_df.pH.median()
for i, pH in enumerate(new_df.pH):
    if pH >= median_pH:
        new_df.loc[i, 'pH'] = 'high'
    else:
        new_df.loc[i, 'pH'] = 'low'
new_df.groupby('pH').quality.mean()

pH
high    5.598039
low     5.675607
Name: quality, dtype: float64

In [30]:
median_sugar = new_df.residual_sugar.median()
for i, sugar in enumerate(new_df.residual_sugar):
    if sugar >= median_sugar:
        new_df.loc[i, 'residual_sugar'] = 'high'
    else:
        new_df.loc[i, 'residual_sugar'] = 'low'
new_df.groupby('residual_sugar').quality.mean()

residual_sugar
high    5.665880
low     5.602394
Name: quality, dtype: float64

In [36]:
median_citric_acid = new_df.citric_acid.median()
for i, citric_acid in enumerate(new_df.citric_acid):
    if citric_acid >= median_citric_acid:
        new_df.loc[i, 'citric_acid'] = 'high'
    else:
        new_df.loc[i, 'citric_acid'] = 'low'
new_df.groupby('citric_acid').quality.mean()

citric_acid
high    5.822360
low     5.447103
Name: quality, dtype: float64

A function solution

In [31]:
def median_field(df, field_to_group, field_to_mean):
    import numpy as np
    data = df.copy()
    median = data[field_to_group].median()
    data[field_to_group] = np.where(
        data[field_to_group] >= median, 'high', 'low'
    )
    return data.groupby(field_to_group)[field_to_mean].mean()

In [32]:
median_field(df_1, 'alcohol', 'quality')

alcohol
high    5.958904
low     5.310302
Name: quality, dtype: float64

In [33]:
median_field(df_1, 'pH', 'quality')

pH
high    5.598039
low     5.675607
Name: quality, dtype: float64

In [34]:
median_field(df_1, 'residual_sugar', 'quality')

residual_sugar
high    5.665880
low     5.602394
Name: quality, dtype: float64

In [37]:
median_field(df_1, 'citric_acid', 'quality')

citric_acid
high    5.822360
low     5.447103
Name: quality, dtype: float64